{% extends 'layout.html.twig' %}
{% block carousel %}{% endblock %}
{% block title %}Portfolio{% endblock %}
{% block body %}
    <section class="bg-primary ">
        <h1 class="text-center">Architectes d'intérieure Adeline Bellot</h1>
        <div class="container-fluid">
            <div class="row justify-content-around">
                {% for about in abouts %}
                    <div class="col-lg-4 col-sm-2 d-flex align-self-center justify-content-center">
                        <img class="portrait mt-4 mb-5"
                             src="{{ asset('uploads/about/' ~  about.picture) }}"
                             alt="{{ about.picture }}"
                             title="{{ about.picture }}">
                    </div>
                    <div class=" justify-content-center justify-content-center
                        col-lg-8 col-sm-6 d-flex align-items-center lead flex-column">
                        <div>
                            <h2>Présidente de l'Atelier B2</h2>
                            <p>{{ about.description| raw }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <h2 class="text-center">Prendre contact</h2>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-6 col-lg-5">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-center">
                    <button class="btn btn-light mt-2 mb-5">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        </div>
    </section>
{% endblock %}
