{% extends 'base.html.twig' %}

{% block title %}PicturesProjet index{% endblock %}

{% block body %}
    <h1>PicturesProjet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pictures</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pictures_projet in pictures_projets %}
            <tr>
                <td>{{ pictures_projet.id }}</td>
                <td>{{ pictures_projet.pictures }}</td>
                <td>
                    <a href="{{ path('pictures_projet_show', {'id': pictures_projet.id}) }}">show</a>
                    <a href="{{ path('pictures_projet_edit', {'id': pictures_projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pictures_projet_new') }}">Create new</a>
{% endblock %}
