{% extends 'base.html.twig' %}

{% block title %}PicturesProjet{% endblock %}

{% block body %}
    <h1>PicturesProjet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pictures_projet.id }}</td>
            </tr>
            <tr>
                <th>Pictures</th>
                <td>{{ pictures_projet.pictures }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pictures_projet_index') }}">back to list</a>

    <a href="{{ path('pictures_projet_edit', {'id': pictures_projet.id}) }}">edit</a>

    {{ include('pictures_projet/_delete_form.html.twig') }}
{% endblock %}
