{% extends 'layout.html.twig' %}
{% block carousel %}{% endblock %}
{% block title %}Portfolio{% endblock %}
{% block body %}
<section class="sectionResponsive bg-primary">
    <h1 class="text-center">Projets</h1>
    <div class="container-fluid">
        <div class="row pb-5 justify-content-between">
            {% for projet in projets %}
                <a href="{{ path('picture_show', {'id' : projet.id}) }}" target="_blank">
                    <div class="link card text-white card-inverse m-4">
                        <img src="{{ asset('uploads/projet/'~projet.pathHome) }}"
                             class="imagePortfolio card-img" alt="{{ projet.pathHome }}">
                        <div class="textOver card-img-overlay d-flex">
                            <h2 class="h4 card-title text-truncate align-self-center mx-auto">{{ projet.title}}</h2>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>
<section class="sectionHover bg-primary">
    <h1 class="text-center">Projets</h1>
    <div class="container-fluid">
        <div class="row pb-5 justify-content-between ">
            {% for projet in projets %}
                <div class="hovereffect m-4">
                    <img class="imagePortfolio img-responsive " src="{{ asset('uploads/projet/'~projet.pathHome) }}"
                         alt="{{ projet.pathHome }}">
                    <div class="overlay">
                        <h2>{{ projet.title}}</h2>
                        <a class="info" href="{{ path('picture_show', {'id' : projet.id}) }}">Voir le projet</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
