{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
    <h1>Projets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ projet.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ projet.date ? projet.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('projets_index') }}">back to list</a>

    <a href="{{ path('projets_edit', {'id': projet.id}) }}">edit</a>

    {{ include('projets/_delete_form.html.twig') }}
{% endblock %}
