{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
{% block title %}Administration|Prestation{% endblock %}

{% block body %}
    <h1 class="title text-center">Administration Prestation</h1>
    <div class="container-fluid">
        <a class="btn btn-success mb-2" href="{{ path('prestation_new') }}">Ajouter une prestation</a>
        <table class="table text-dark text-center">
            <thead class="bg-primary">
                <tr>
                    <th>Picture</th>
                    <th>Prestation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for prestation in prestations %}
                <tr>
                    <td>
                        <img class="idImage" src="{{ asset('build/images/' ~ prestation.picture) }}"
                             alt="{{ prestation.picture }}" title="{{ prestation.picture }}">
                    </td>
                    <td>{{ prestation.prestation }}</td>
                    <td>
                        <a class="btn btn-secondary btn mt-2"
                           href="{{ path('prestation_edit', {'id': prestation.id}) }}">Modifier</a>
                        {{ include('admin/prestation/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <a class="btn btn-primary btn mb-4" href="{{ path('admin_index') }}">Retour</a>
    </div>
{% endblock %}
